<div class="user-details">
  <h1> My Expertise </h1>
  <p>  I'm a computer science engineer with five years of commercial experience and academic in the areas of software development and data science. My educational output deals with Machine Learning, Data Mining, Deep neural nets, Text Analytics and Metaheuristics. Outside of academia, I spent three years developing and managing iPad software application at Tata Consultancy Services (client Novo Nordisk) as a Systems Engineer. Later in the academia, as a teaching assistant, I have mentored over 140+ students on topics associated with data analysis in R and python.
  </p>
  <p> Now, I have been working as a research assistant at Systems realization laboratory, OU. As a data scientist, my work includes data collection, data wrangling, automation of text extraction from word documents, feature engineering, classification modeling to improve the student’s learning. Further used big data computation platforms like HDFS, Apache Ambari, and Apache Spark in different projects.</p>
  <p> I am passionate about data and will bring in communication, ML programming skills and curiosity to the data science problem at hand. I can pick up an unfamiliar domain, and an implementor of continuous learning through back-propagation.</p>
</div>
<body>
  <div class = "timeline">
  <div class="container main-content">
    <div class="row row-centered">
      <div class="col-centered col-max col-min col-sm-12 col-md-10 col-lg-10 main-content">
          <section id="content" class="content">
          <h2>Timeline</h2>
          <div id="timeline-exp"></div>
          </section>
      </div>
    </div>
  </div>
   </div>
</body>
<div class="user">
    <div class="tech">
      <h2>Data Science</h2>
        <p>
          Machine Learning, Data Analysis, Statistical Modeling, SQL
        </p>
        <p>
          Data Mining - Association, Anamoly Detection
        </p>
        <p>
          Deep Learning - CNN, LSTM, GAN's, Word Embedding (Word2Vec)
        </p>
        <p>
          NLP - LDA, text classification & clustering
        </p>
    </div>
    <div class="tech">
      <h2>Big Data & Cloud</h2>
        <p>
          Hadoop Ecosystem, Mapreduce, HDFS, Hive, Apache Spark, Apache Ambari, mongodb
        </p>
        <p>
          Amazon Web Services (AWS) – EC2, S3
        </p>
    </div>
    <div class="tech">
      <h2>Programming</h2>
        <p>
          Python, R caret, Scikit-Learn, keras, Tensorflow, SAS
        </p>
        <p>
          Tableau 10.5, R Shiny, Neo4j, D3.js
        </p>
        <p>
          Objective-C, Java, C++
        </p>
    </div>
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://sarveshp.github.io/assets/js/d3.v3.min.js"></script>
<script type="text/javascript" src="https://sarveshp.github.io/assets/js/colorbrewer.v1.min.js"></script>
<script type="text/javascript" src="https://sarveshp.github.io/assets/js/timeline.js"></script>
<script type="text/javascript" src="https://sarveshp.github.io/assets/js/pubStack.js"></script>
<script type="text/javascript">timelineFromJson("Paired");</script>
<!-- <script type="text/javascript">streamCsv("#stream", "Paired");</script> -->
<script type="text/javascript">pubsBars("#stack", "Paired");</script>
<script type="text/javascript">pubsList("#list");</script>
